.dashboard_open{
    display: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    left: 5px;
    margin-right: 50px;
    border-radius: 40%;
    transition: all 0.4s ease-in-out;
}
.dashboard_open:hover{
    background-color: #d6d4d4;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}
@media (max-width: 1100px) {

    .dashboard_open{
        display: flex;
        position: absolute;
        justify-self: center;
        align-self: center;
        justify-content: center;
        align-items: center;
    }
}